.app-main {
  width: 100%;
}

.primary-filters {
  display: flex;
  justify-content: space-between;
}

.primary-filters-margin {
  margin: 0em 1em;
}

.year-note {
  margin: 1em 1em 0em 1em;
  color: gray;
}

.dropdown-filters {
  min-height: 'auto !important';
  height: 1em;
}

.secondary-filters {
  display: flex;
  justify-content: space-between;
}

.secondary-filters-col {
  display: flex;
  flex-direction: column;
}

.secondary-filters-margin {
  margin: 0.5em 1em;
}

.personalized-filter {
  display: flex;
  flex-direction: column;
}

.reset-margin {
  margin: 1em 0em;
}

.global-search {
  display: flex;
  justify-content: flex-end;
}

.table-margin {
  margin-top: 0.5em;
}

.github-repo {
  margin: 2em 0em 6em 0em;
}

.ui.search > .ui.input.icon {
  width: 300px;
}

.table-overflow {
  display: block;
  width: auto;
  overflow-x: scroll;
}

.scroll-to-top {
  position: fixed;
  bottom: 60px;
  right: 25px;
}

.scroll-to-top:hover {
  cursor: pointer;
}
